
.new-post h2 {
   text-align: center;
   margin-bottom: 1rem;
}

form {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
}

/* parte de login e text area que é a parte do post*/
.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* titulos de cada um dos topicos...*/

.form-control label {
    margin-bottom: 0.5rem;
}


/* inputs e text area colocando style...*/ 
.form-control input, 
.form-control textarea {
    padding: .5rem;
    border-radius: 5px;
    border: none;
}

